@media (prefers-color-scheme: light) {
body {
    background: #fff;
}

a {
    color: #555;
}

#bar {
    background: #f6f6f6;
}

#bar a.button {
    color: #444;
    background-color: #fff;

}

input[type=button]:hover,
input[type=submit]:hover,
#bar .button:hover {
    color: #555;
}

input[type=text] {
    background-color: #fcfff4;
}

input[type=text]:focus {
    background-color: #fff;
}

.item {
    background: #fff;
}

p.running {
    background-color: #eaffd6;
}

a.update:hover {
    color: #006e2e;
}

p.remove-confirm strong {
    color: #333;
}

#footer {
    background: #f6f6f6;
    color: #bbb;
}

#footer a {
    color: #bbb;
}

#footer a:hover {
    color: #333;
}

/* FIXME make it change image really */
.item a.running {
    background-image: url(../img/pause.png);
}

.item a.power {
    background-image: url(../img/play.png);
}


}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #fff;
  }

  a {
    color: #aaa;
  }

  #bar {
    background: #222;
  }

  #bar a.button {
    color: #ddd;
    background-color: #222;
  }

  input[type=button]:hover,
  input[type=submit]:hover,
  #bar .button:hover {
    color: #aaa;
  }

  input[type=text] {
    background-color: #444;
  }

  input[type=text]:focus {
    background-color: #555;
  }

  .item {
    background: #222;
    color: #ddd;
  }

  p.running {
    background-color: #116611;
  }

  a.update:hover {
    color: #00cc00;
  }

  p.remove-confirm strong {
    color: #ddd;
  }

  #footer {
    background: #222;
    color: #aaa;
  }

  #footer a {
    color: #aaa;
  }

  #footer a:hover {
    color: #ddd;
  }

.item a.running {
    background-image: url(../img/pause_dark.png);
}

.item a.power {
    background-image: url(../img/play_dark.png);
}

}

/* --- red, perhaps won't be affected by the theme --- */
a.remove:hover {
    color: #a90329;
}

p.remove-confirm {
    color: #a90329;
}

#button-remove-all,
#button-remove-all,
#button-remove {
    color: #a90329;
}
